<div class="frame-card {% if frame.selected %}selected{% endif %}" id="frame-{{ frame.id }}">
    <img src="{{ frame.frame_path }}" alt="Frame {{ frame.id }}">
    <p>Frame ID: {{ frame.id }}</p>
    {% if frame.score %}
        <p>Score: {{ "%.4f"|format(frame.score) }}</p>
    {% endif %}

    <label class="checkbox-container">
        <input type="checkbox" hx-post="/toggle_frame" hx-trigger="click" hx-target="#frame-{{ frame.id }}"
            hx-swap="outerHTML" name="selected_frames" value="{{ frame.id }}" {% if frame.selected %}checked{% endif %}
            hx-vals='{"frame_id": "{{ frame.id }}", "score": "{{ frame.score }}", "selected": "{{ frame.selected }}"}'>
        <span class="checkmark"></span>
    </label>
</div>