<div id="frame-{{ frame.id }}" class="frame-card {% if frame.selected %}selected{% endif %}" _="on htmx:afterSwap wait 10ms then add .htmx-swapping end
        on htmx:afterSettle remove .htmx-swapping">
    <div class="frame-image-container">
        {% if frame.keyframe.frame_path %}
        <img src="{{ frame.keyframe.frame_path }}" alt="Frame {{ frame.id }}">
        {% else %}
        <div class="placeholder-image">No image available</div>
        {% endif %}
    </div>
    <div class="frame-info">
        <h3 class="frame-title">Frame ID: {{ frame.id }}</h3>
        {% if frame.score.value is defined %}

        <h4 class="frame-title">Similarity Score:</h4>
        <p class="frame-description">{{ frame.score.value|round(4) if frame.score.value is not none
            else 'N/A' }}</p>
        {% endif %}
        
        <h4 class="frame-title">Tags:</h4>
        {% if frame.tag and frame.tag.taggers %}
        <p class="frame-description">{{ frame.tag.taggers|join(', ') }}</p>
        {% else %}
        <p>No tag detected</p>
        {% endif %}
        
        <h4 class="frame-title">Object Detection:</h4>
        {% if frame.detection %}
        <div class="frame-description">
            {% if frame.detection.encoded_detection %}
            <p>Encoded: {{ frame.detection.encoded_detection }}</p>
            {% endif %}
            <p>Counts:</p>
            {% if frame.detection.counts %}
            <ul>
                {% for category, count in frame.detection.counts.items() %}
                <li>{{ category.value }}: {{ count }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        {% else %}
        <p>No object detected</p>
        {% endif %}
    </div>
    <div class="frame-actions">
        <div class="toggle-container">
            <input type="checkbox" id="toggle-{{ frame.id }}" name="frame_id" class="toggle-input" {% if frame.selected
                %}checked{% endif %} hx-post="/toggle_frame"
                hx-vals='{"frame_id": "{{ frame.id }}", "score": "{{ frame.score.value|default(0)}}"}' hx-swap="none"
                hx-target="body" />
            <label for="toggle-{{ frame.id }}" class="toggle-slider"></label>
        </div>
        {% if frame.selected %}
        <button class="submit-button" hx-post="/submit_single_frame" hx-include="closest div"
            hx-target="#modal-container">Submit Frame</button>
        {% endif %}
    </div>
</div>