<form id="search-form" hx-get="/search" hx-target="#search-results" hx-indicator=".htmx-indicator"
    hx-on="htmx:beforeRequest:document.getElementById('search-results').innerHTML = '';">
    <input type="text" name="text_query" placeholder="Enter your search query">
    <div id="object-queries"></div>
    <input type="hidden" name="object_query_json" id="object_query_json" value="{}">
    <button type="submit" hx-on="htmx:configRequest">Search</button>
    <div class="htmx-indicator">Searching...</div>
</form>