<div id="selected-frames-container">
    <div class="selected-frames-header">
        <h2>Total:</h2>
        <span class="frame-count">{{ frames|length }} frame{% if frames|length != 1 %}s{% endif %} selected</span>
    </div>
    <div class="auto-select-container">
        <input type="number" id="max-items" name="max_items" value="100" min="1" max="1000">
        <button hx-post="/auto_select_frames" hx-include="#max-items" hx-target="#selected-frames-container"
            hx-swap="outerHTML">
            Auto Select Frames
        </button>
    </div>
    <button hx-post="/submit_all_frames" class="submit-button" hx-target="#modal-container">Submit All Frames</button>


    <div id="selected-frames" class="frame-container {% if not frames %}empty{% endif %}" _="on htmx:afterSwap wait 10ms then add .htmx-swapping end 
    on htmx:afterSettle remove .htmx-swapping">
        {% if frames %}
        {% for frame in frames %}
        {% with frame=frame, is_selected_section=True %}
        {% include 'components/frame_card.html' %}
        {% endwith %}
        {% endfor %}
        {% else %}
        <div class="empty-state">No frames selected.</div>
        {% endif %}
    </div>
</div>