{% extends "base.html" %}
{% block content %}

<div class="flex flex-col md:flex-row">
    <div class="sidebar left-sidebar md:w-1/5 bg-gray-100 p-4">
        <h2 class="text-xl font-bold mb-4">Search Settings</h2>
        <div id="weight-adjusters" hx-get="/weight_adjusters" hx-trigger="load">
        </div>
    </div>

    <div class="main-content md:w-3/5 p-4 sm:p-8 bg-white">
        <h1 id="video-retrieval-system" class="text-3xl sm:text-4xl font-bold mb-4 sm:mb-8 text-center text-gray-800">
            Video Retrieval System
        </h1>

        {% include 'components/search_bar.html' %}

        <h2 id="selected-frames" class="text-2xl font-bold mb-4">Selected Frames</h2>
        <div id="selected-frames" hx-get="/get_selected_frames" hx-trigger="load, frame-toggled from:body">
        </div>

        <h2 id="search-results" class="text-2xl font-bold mb-4 mt-8">Search Results</h2>
        <div id="search-results">
            Enter a search query to see results.
        </div>

        <div id="modal-container">
        </div>
    </div>

    <div class="sidebar right-sidebar md:w-1/5 bg-gray-100 p-4">
        <div hx-get="/drag_drop_panel" hx-trigger="load">
        </div>
    </div>
</div>

{% endblock %}